.ResumeInfo {
  width: 1440px;
  margin: 0 auto;
  height: 440px;

  .Title {

    .titles {
      font-size: 24px;
      font-weight: 300;
      font-family: 'Montserrat', sans-serif;
      height: 0;

      i {
        font-style: normal;
        color: #765AEE;
      }
    }

    .name {
      font-size: 40px;
      font-weight: 200;
      letter-spacing: 3px;
      color: #ffffff;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-style: inherit;
    }
  }

  .Resume-social {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;

    .map {
      width: 260px;
      height: 150px;
      border: 2px solid #765AEE;
      border-radius: 30px;
      padding: 15px;
      transition: 0.3s;

      .PiMapPinSimpleAreaFill {
        width: 40px;
        height: 40px;
        color: #765AEE;
      }

      h2 {
        height: 18px;
        font-family: 'Montserrat', sans-serif;
      }

      .mep-p {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        height: 10px;
      }

      p {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
      }

      &:hover {
        box-shadow: #765AEE 0px 1px 0px, #765AEE 0px 0px 8px;
      }
    }

    .phone {
      width: 260px;
      height: 150px;
      border: 2px solid #765AEE;
      font-size: 16px;
      border-radius: 30px;
      padding: 15px;
      transition: 0.3s;

      h2 {
        font-family: 'Montserrat', sans-serif;
        height: 18px;
      }

      .FaSquarePhone {
        width: 35px;
        height: 35px;
        color: #765AEE;
      }

      p {
        font-family: 'Montserrat', sans-serif;
      }

      &:hover {
        box-shadow: #765AEE 0px 1px 0px, #765AEE 0px 0px 8px;
      }
    }

    .telegram {
      width: 260px;
      height: 150px;
      border: 2px solid #765AEE;
      font-size: 16px;
      border-radius: 30px;
      padding: 15px;
      transition: 0.3s;

      .FaTelegram {
        width: 35px;
        height: 35px;
        color: #765AEE;
      }

      .webb {

        h2 {
          font-family: 'Montserrat', sans-serif;
          height: 18px;
        }

        a {
          text-decoration: none;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;

          &:hover {
            color: #765AEE;
          }
        }
      }

      &:hover {
        box-shadow: #765AEE 0px 1px 0px, #765AEE 0px 0px 8px;
      }

    }

    .email {
      width: 260px;
      height: 150px;
      border: 2px solid #765AEE;
      font-size: 16px;
      border-radius: 30px;
      padding: 15px;
      transition: 0.3s;

      .MdEmail {
        width: 35px;
        height: 35px;
        color: #765AEE;
      }

      h2 {
        font-family: 'Montserrat', sans-serif;
        height: 18px;
      }

      .gmail-name {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        height: 5px;
      }

      .gmail {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;

      }

      &:hover {
        box-shadow: #765AEE 0px 1px 0px, #765AEE 0px 0px 8px;
      }

    }
  }
}