.RContents {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  background-color: #2b2933;

  .RContainer1 {
    width: 500px;

    img {
      width: 215px;
      height: 215px;
      border-radius: 50%;
      border: 3px solid #f1ae0e;
    }

    h1 {
      font-size: 24px;
      border-radius: 8px;
      text-transform: uppercase;
      letter-spacing: 1%;
      font-family: 'Open sans', sans-serif;
      color: #ffffff;
      padding: 8px;
      text-align: center;
    }

    .Rtexts {
      width: 350px;
      border: 2px solid #765AEE;
      border-radius: 30px;
      margin: 0 auto;
      text-align: left;
      padding: 20px;
      font-family: 'Manrope', sans-serif;
    }
  }

  .RContainer2 {

    .RContainer2-title {


      h1 {
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Open sans', sans-serif;
        text-align: left;
        letter-spacing: 1%;
        display: flex;
        align-items: center;
        height: 16px;
        padding: 0;
        margin: 0;

      }

      p {
        width: 600px;
        color: #ffffff;
        text-align: left;
        font-family: 'Manrope', sans-serif;

      }

      .RContainer2-title2 {
        padding: 20px;
        border: 2px solid #765AEE;
        border-radius: 30px;
        margin-top: 30px;
      }
    }

    .ffwgit {
      display: flex;
      gap: 50px;
    }

    .RContainer2-title2 {

      h1 {
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 8px;
        letter-spacing: 1%;
        font-family: 'Open sans', sans-serif;
        text-align: left;
        display: flex;
        align-items: center;
      }

      .boxx {
        display: flex;
        align-items: center;

        .title3 {
          width: 210px;
          border: 2px solid #765AEE;
          border-radius: 30px;
          text-align: left;
          padding: 20px;

          p {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: 'Manrope', sans-serif;
            font-size: 18px;

            .IoSchoolSharp {

              color: #765AEE;
            }

            .CiCalendar {
              color: #765AEE;

            }

            .FaMapPin {
              color: #765AEE;
            }

            .PiStudentFill {
              color: #765AEE;
            }
          }
        }
      }
    }

    .Hobby {

      .Hobby-text {
        font-size: 24px;
        color: #ffffff;
        padding: 8px;
        font-family: 'Open sans', sans-serif;
        text-align: left;
        letter-spacing: 1%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }

      .Hobby-container {
        width: 220px;
        border: 2px solid #765AEE;
        border-radius: 30px;
        padding: 20px;

        p {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 18px;
          font-family: 'Manrope', sans-serif;
        }
      }
    }
  }

  .Skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border: 2px solid #765AEE;
    width: 563px;
    height: 90px;
    border-radius: 30px;

    img {
      width: 75px;
      height: 75px;
      transition: 0.3s;

      &:hover {
        width: 80px;
        height: 80px;
      }
    }
  }
}