  footer {
    width: 1440px;
    height: 400px;
    background-color: #2b2933;
    margin: 0 auto;

    .Footer-title {

      h1 {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0%;
        text-align: left;
      }
    }

    .Footer-container {
      width: 1300px;
      height: 260px;
      margin: 0 auto;
      justify-content: center;
      display: flex;

      .Footer-content1 {
        width: 300px;
        height: 193px;

        h1 {
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: 0px;
          text-align: left;
          text-transform: capitalize;
          transition: 0.3s;
        }

        p {
          color: #ffffff;
          font-family: 'Manrope', sans-serif;
          font-size: 16px;
          font-weight: 200;
          line-height: 150%;
          letter-spacing: 0px;
          text-align: left;
          transition: 0.3s;

          &:hover {
            color: #765AEE;
          }
        }
      }

      .Footer-content2 {
        width: 200px;
        height: 193px;

        h1 {
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: 0px;
          text-align: left;
          text-transform: capitalize;
        }

        p {
          color: #ffffff;
          font-family: 'Manrope', sans-serif;
          font-size: 16px;
          font-weight: 200;
          line-height: 150%;
          letter-spacing: 0px;
          text-align: left;
          transition: 0.3s;

          &:hover {
            color: #765AEE;
          }
        }
      }

      .Footer-register {

        position: relative;
        top: 91px;
        height: 90px;

        h1 {
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: 0px;

        }

        .footer-wox {
          gap: 15px;
          display: flex;

          input {
            width: 300px;
            height: 46.6px;
            background: #2b2933;
            color: #ffffff;
            font-family: 'Manrope', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0px;
            text-align: left;
            border: 1px solid #ffffff;
          }

          button {
            width: 201.65px;
            height: 46.6px;
            background: #f1ae0e;
            color: #ffffff;
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;

            text-align: center;
            border: none;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              box-shadow: #f1ae0e 0px 1px 0px, #f1ae0e 0px 0px 8px;
              color: #ffffff;
            }
          }
        }
      }
    }

    .Footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      hr {
        width: 400px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5px;
      }

      p {
        color: #765AEE;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0px;
        text-align: left;
      }

      .Footer-social {
        display: flex;

        .insta {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
          transition: 0.3s;

          &:hover {
            transform: scale(1.1);
          }

          img {
            width: 40px;
            height: 40px;
          }
        }

        .book {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
          transition: 0.3s;

          &:hover {
            transform: scale(1.1);
          }

          img {
            width: 40px;
            height: 40px;
          }
        }

        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
          transition: 0.3s;

          &:hover {
            transform: scale(1.1);
          }

          img {
            width: 40px;
            height: 40px;
          }
        }

        .git {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
          transition: 0.3s;

          &:hover {
            transform: scale(1.1);
          }

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }