.Testimonials {
  width: 1440px;
  height: 700px;
  margin: 0 auto;
  text-align: center;

  .Testimonials-title {

    p {
      color: #ffffff;
      font-family: 'Manrope', sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 26.2px;
      letter-spacing: 0%;
      text-align: center;
      height: 10px;
    }

    h2 {
      color: #765AEE;
      font-family: 'Open sans', sans-serif;
      font-size: 40px;
      font-weight: 800;
      line-height: 48px;
      letter-spacing: 0%;
      text-align: center;
    }
  }

  .Rewies {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    position: relative;

    .review {
      width: 450px;
      height: 305px;
      border-radius: 30px;
      border: 2px solid #765AEE;
      font-family: 'Manrope', sans-serif;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;

      img {
        width: 80px;
        border-radius: 50%;
        border: 4px solid #765AEE;
      }

      p {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        height: 50px;
        font-family: 'Manrope', sans-serif;
      }

      h3 {
        color: #765AEE;
        font-size: 26px;
        font-weight: 700;
        height: 0;
        font-family: 'Manrope', sans-serif;
      }

      h6 {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        height: 0;
        font-family: 'Manrope', sans-serif;
      }
    }


  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;

    button {
      width: 69px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn1 {
      background: #2b2933;
      border: 3px solid #f1ae0e;

    }

    .btn2 {
      background: #f1ae0e;
      border: 3px solid #ffffff;
    }

    button:hover {
      transform: scale(1.1);
    }
  }
}